@import '../../../styles/vars';

.grid__item {
  cursor: pointer;
  flex-basis: 33%;
  max-width: 33%;
  position: relative;
  width: 33%;

  &-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &--default {
    min-height: 290px;

    .grid__item-button {
      align-items: center;
      background-color: $color-white;
      border: 0;
      color: $color-black;
      display: flex;
      font-size: 18px;
      height: 100px;
      left: 50%;
      opacity: 0;
      outline: none;
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      z-index: 2;
    }

    .grid__item-inner {
      background: $color-light-gray;
      bottom: 15px;
      box-shadow: $card-box-shadow;
      left: 15px;
      overflow: hidden;
      position: absolute;
      right: 15px;
      top: 15px;
    }

    &::before {
      background: $card-hover-color;
      bottom: 10px;
      content: '';
      left: 10px;
      opacity: 0;
      position: absolute;
      right: 10px;
      top: 10px;
      transition: opacity .25s;
      z-index: 1;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      .grid__item-button {
        opacity: 1;
      }
    }
  }

  &--product {
    cursor: default;

    .grid__item-inner {
      height: 0;
      padding-top: 100%;
      position: relative;
      width: 100%;
    }

    .grid__item-wrapper {
      background: $color-light-gray;
      border: 1px solid $color-medium-gray;
      bottom: 15px;
      box-shadow: 0 1px 5px rgba($color-black, .1);
      left: 15px;
      overflow: hidden;
      position: absolute;
      right: 15px;
      top: 15px;
    }

    .product-meta {
      margin: 0 15px;

      &__name {
        font-weight: bold;
        line-height: normal;
      }

      &__price {
        color: $color-dark-gray;
        font-size: 14px;
        margin: 5px 0 10px;
      }

      &__button {
        margin: 0 0 0 -10px;

        .btn {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .grid__item {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;

    &--default {
      min-height: 180px;

      .grid__item-inner {
        border-radius: 3px;
      }
    }
  }
}
