@import '../../styles//vars';

.user-info {
  align-items: center;
  display: flex;

  &__avatar {
    background: url('https://components.planoly.com/assets/images/default-profile.svg');
    border-radius: 50%;
    display: flex;
    flex: 0 0 75px;
    height: 75px;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
    transition: filter .2s;
  }

  &__meta {
    display: flex;
    flex: 1;
    flex-direction: column;

    &-username {
      align-self: flex-start;
      color: $color-black;
      font-size: 19px;
      font-weight: 400;
      letter-spacing: .1em;
      margin: 0;
      max-width: 100%;
      padding: 0;
    }

    &-description {
      font-size: 14px;
      line-height: 1.4;
      margin: 0;
    }
  }
}
