@import '../../styles/vars';

.tabs {
  border-bottom: 1px solid $color-medium-gray;
  border-top: 1px solid $color-medium-gray;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 10px 15px;
  padding: 0;

  &__tab {
    color:  $color-dark-gray;
    cursor: pointer;
    margin: 0 15px;
    text-align: center;
    text-transform: uppercase;
    transition: box-shadow .25s ease 0s;
    width: 50%;

    span {
      display: inline-block;
      padding: 10px 0;
    }

    &.selected {
      color: $color-black;

      span {
        box-shadow: $color-black 0 4px 0;
      }
    }
  }
}
