@import './vars';
@import './reset';

* {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $color-black;
  text-decoration: none;
  transition: box-shadow .25s;

  &:hover {
    box-shadow: $href-box-shadow;
  }
}
