$font-primary: 'Franklin Gothic Medium', 'Helvetica Neue', Arial, sans-serif;
$font-secondary: 'Franklin Gothic Book', sans-serif;

$color-white: #FFF;
$color-black: #000;
$color-light-gray: #FAFAFA;
$color-dark-gray: #8e8e93;
